{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay or challenge a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    
    <div class="column-full">
      <div class="phase-banner">
        <p>
          <strong class="phase-tag">BETA</strong>
          <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
      </div>
    </div>
    
  </div>

  <h1 class="heading-xlarge">Penalty Charge Notices</h1>

    
    <h3 class="heading-large">HC3 usability testing</h3>
    
  <ul class="list list-bullet">
      <li><a href="hc3Journeys">HC3 journeys only</a></li>
  </ul>
    
        <h3 class="heading-large">Gov pay usability testing</h3>
    
  <ul class="list list-bullet">
      <li><a href="govPay">Payment journeys only</a></li>
  </ul>


</main>

{% endblock %}
