{% extends "layout_bsa.html" %}
{% block page_title %}
Pay or challenge a Penalty Charge Notice
{% endblock %}
{% block content %}
<!-- bsa table style overrides -->
<style>
   table tr td {
   border: none;
   display: table-cell;
   vertical-align: text-top;
   padding: 2rem 3rem 0 0;
   }
   table tr td:nth-child(1) {
   width: 30%;
   }
   table tr td:nth-child(2) {
   padding-right: 3rem;
   width: 30%; 
   }
   table tr td:nth-child(3) {
   padding-right: 3rem;
   }
</style>
<main id="content" role="main">
  <!--  <p>
      <a href="index"> Back to all prototypes</a>
   </p> -->
   <div class="heading-group">
      <p>Challenge Prototype</p>
      <h1 class="heading-xlarge">
         Pre-CN Letters
      </h1>
   </div>
   <table id="review-table-one" class="check-table">
      <thead>
         <tr>
            <h1 class="heading-medium">Version 2</h1>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td><a href="/public/images/letters/letter-a.pdf">Letter A</a></td>
            <td></td>
            <td class="right"><a href="#"></a></td>
         </tr>
         <tr>
            <td><a href="/public/images/letters/letter-b.pdf">Letter B</a></td>
            <td></td>
            <td class="right"><a href="#"></a></td>
         </tr>
         <tr>
            <td><a href="/public/images/letters/letter-c.pdf">Alternative design   </a></td>
            <td></td>
            <td class="right"><a href="#"></a></td>
         </tr>

      </tbody>
   </table>
   <table id="review-table-one" class="check-table">
      <thead>
         <tr>
            <h1 class="heading-medium">Version 1</h1>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td><a href="/public/images/letters/latest-agreed.pdf">Latest agreed version (without amount)</a></td>
            <td></td>
            <td class="right"><a href="#"></a></td>
         </tr>
         <tr>
            <td><a href="/public/images/letters/scottish-ni.pdf">Scottish NI</a></td>
            <td></td>
            <td class="right"><a href="#"></a></td>
         </tr>
         <tr>
            <td><a href="/public/images/letters/softer-approach.pdf">Softer approach</a></td>
            <td></td>
            <td class="right"><a href="#"></a></td>
         </tr>
         <tr>
            <td><a href="/public/images/letters/in-between.pdf">In between</a></td>
            <td></td>
            <td class="right"><a href="#"></a></td>
         </tr>
      </tbody>
   </table>
</main>
{% endblock %}